<style>
  {{ apos.fwtw.styleDeclarations | safe }}
</style>

<div class="c-card__full-width-text">
    <div class="fittext">
      <div
        style="{{ 'text-transform: uppercase;' if data.widget.forceUppercase}}"
      >
        {{ apos.singleton(
          data.widget, 
          'textContent', 
          'apostrophe-rich-text',
          {
            toolbar: ['styles', 'bold', 'italic', 'link'],
            styles: apos.fwtw.fontStyles,
            controls: {
              position: 'bottom-right'
            }
          }
        )
      }}
      </div>
  </div>
</div>
<!--  
apos.fwtw.fontStyles
[{ 
            label: 'Default', 
            tag: 'p' },
  {
    label: 'Dancing Script',
    tag: 'p',
    class: 'c-full-width-text__text--Dancing0'
  },
  {
    label: 'Darker Grotesque',
    tag: 'p',
    class: 'c-full-width-text__text--Darker1'
  },
  {
    label: 'Leckerli One',
    tag: 'p',
    class: 'c-full-width-text__text--Leckerli2'
  },
  {
    label: 'Meddon',
    tag: 'p',
    class: 'c-full-width-text__text--Meddon3'
  }

  , {
            label: 'Dancing Script',
            tag: 'p',
            'class': 'c-full-width-text__text--Dancing0'
          }]
]

-->